openapi: 3.1.0
info:
  title: Swetrix Admin Annotations Events API
  description: The Swetrix Admin API manages analytics projects, funnels, annotations, project views (segments), and organisations. Supports full CRUD operations for all Swetrix account resources. All requests require authentication via the X-Api-Key header. Rate limit is 600 requests/hour.
  version: '1.0'
  contact:
    name: Swetrix Support
    url: https://swetrix.com/contact
  termsOfService: https://swetrix.com/privacy
  license:
    name: AGPL-3.0
    url: https://github.com/Swetrix/swetrix-api/blob/main/LICENSE
servers:
- url: https://api.swetrix.com
  description: Swetrix Production API
security:
- ApiKeyAuth: []
tags:
- name: Events
  description: Record analytics events (pageviews, custom events, heartbeats)
paths:
  /log:
    post:
      operationId: recordPageview
      summary: Record Pageview Event
      description: Records a pageview event for the specified project. Tracks page path, locale, referrer, UTM parameters, and optional performance metrics. Should be called when a visitor loads a page.
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageviewEvent'
            example:
              pid: abc123projectid
              pg: /home
              lc: en-US
              ref: https://google.com
              so: google
              me: organic
              ca: spring_promo
              tz: America/New_York
              perf:
                dns: 0.05
                tls: 0.12
                conn: 0.08
                response: 0.35
                render: 0.92
                dom_load: 1.1
                page_load: 1.5
                ttfb: 0.42
      responses:
        '201':
          description: Pageview recorded successfully
          content:
            application/json:
              schema:
                type: object
                example: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '500':
          $ref: '#/components/responses/ServerError'
  /log/custom:
    post:
      operationId: recordCustomEvent
      summary: Record Custom Event
      description: Records a custom named event for the specified project. Custom events can include metadata key-value pairs and are aggregated in the dashboard. Can be configured to track only unique occurrences per session.
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEvent'
            example:
              pid: abc123projectid
              ev: button_clicked
              pg: /pricing
              lc: en-US
              unique: false
              meta:
                plan: pro
                source: header
      responses:
        '201':
          description: Custom event recorded successfully
          content:
            application/json:
              schema:
                type: object
                example: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /log/hb:
    post:
      operationId: recordHeartbeat
      summary: Record Heartbeat Event
      description: Records a heartbeat event to keep the visitor session alive. Should be called approximately every 30 seconds while the user is active on the page. Used to accurately track session duration.
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HeartbeatEvent'
            example:
              pid: abc123projectid
      responses:
        '201':
          description: Heartbeat recorded successfully
          content:
            application/json:
              schema:
                type: object
                example: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    Forbidden:
      description: Forbidden - duplicate unique event, invalid API key, or insufficient permissions
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    PaymentRequired:
      description: Payment required - inactive project or quota exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    BadRequest:
      description: Bad request - malformed body, missing required fields, or disabled project
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    CustomEvent:
      type: object
      required:
      - pid
      - ev
      properties:
        pid:
          type: string
          description: Project ID
        ev:
          type: string
          maxLength: 256
          description: Event identifier
        pg:
          type: string
          description: Page path
        lc:
          type: string
          description: User locale
        ref:
          type: string
          description: Referrer URL
        so:
          type: string
          description: UTM source
        me:
          type: string
          description: UTM medium
        ca:
          type: string
          description: UTM campaign
        unique:
          type: boolean
          description: One event per session
        meta:
          type: object
          description: Custom key-value metadata (max 100 keys, 2000 chars total)
          additionalProperties:
            type: string
    HeartbeatEvent:
      type: object
      required:
      - pid
      properties:
        pid:
          type: string
          description: Project ID
    PageviewEvent:
      type: object
      required:
      - pid
      properties:
        pid:
          type: string
          description: Project ID
        pg:
          type: string
          description: Page path (e.g. /home)
        lc:
          type: string
          description: User locale (e.g. en-US)
        ref:
          type: string
          description: Referrer URL
        so:
          type: string
          description: UTM source parameter
        me:
          type: string
          description: UTM medium parameter
        ca:
          type: string
          description: UTM campaign parameter
        tz:
          type: string
          description: Visitor timezone (e.g. America/New_York)
        unique:
          type: boolean
          description: Track only unique visits
        perf:
          $ref: '#/components/schemas/PerformanceMetrics'
    PerformanceMetrics:
      type: object
      description: Frontend performance timings in seconds
      properties:
        dns:
          type: number
          description: DNS lookup time in seconds
        tls:
          type: number
          description: TLS handshake time in seconds
        conn:
          type: number
          description: Connection time in seconds
        response:
          type: number
          description: Response time in seconds
        render:
          type: number
          description: Page render time in seconds
        dom_load:
          type: number
          description: DOM content loaded time in seconds
        page_load:
          type: number
          description: Full page load time in seconds
        ttfb:
          type: number
          description: Time to first byte in seconds
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key from Swetrix account settings (https://swetrix.com/user-settings)
externalDocs:
  description: Swetrix Admin API Documentation
  url: https://swetrix.com/docs/admin-api
