openapi: 3.2.0
info:
  title: Swetrix Funnels API
  version: '1.0'
  contact:
    name: Swetrix Support
    url: https://swetrix.com/contact
  license:
    name: AGPL-3.0
    url: https://github.com/Swetrix/swetrix-api/blob/main/LICENSE
  termsOfService: https://swetrix.com/privacy
  description: 'Operations tagged Funnels across 2 of this provider''s published API definitions: swetrix-admin-api-openapi.yml, swetrix-statistics-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.swetrix.com
  description: Swetrix Production API
security:
- ApiKeyAuth: []
tags:
- name: Funnels
  description: Manage conversion funnels
paths:
  /v1/project/funnels/{pid}:
    get:
      operationId: listFunnels
      summary: List Funnels
      description: Retrieves all saved funnels for a project.
      tags:
      - Funnels
      parameters:
      - name: pid
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      responses:
        '200':
          description: Array of funnels
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Funnel'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.swetrix.com
      description: Swetrix Production API
  /v1/project/funnel:
    post:
      operationId: createFunnel
      summary: Create Funnel
      description: Creates a new conversion funnel for a project.
      tags:
      - Funnels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFunnelRequest'
            example:
              name: Signup Funnel
              pid: abc123projectid
              steps:
              - /
              - /pricing
              - /signup
              - /dashboard
      responses:
        '201':
          description: Funnel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      operationId: updateFunnel
      summary: Update Funnel
      description: Updates an existing funnel's name or page steps.
      tags:
      - Funnels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFunnelRequest'
      responses:
        '200':
          description: Updated funnel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.swetrix.com
      description: Swetrix Production API
  /v1/project/funnel/{id}/{pid}:
    delete:
      operationId: deleteFunnel
      summary: Delete Funnel
      description: Removes a funnel from a project.
      tags:
      - Funnels
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Funnel ID
      - name: pid
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      responses:
        '204':
          description: Funnel deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.swetrix.com
      description: Swetrix Production API
  /v1/log/funnel:
    get:
      operationId: getFunnelAnalysis
      summary: Get Funnel Analysis
      description: Returns funnel conversion analysis for a specified sequence of pages. Shows conversion counts, dropoffs, and percentages at each step. Accepts either a saved funnel ID or an inline pages array.
      tags:
      - Funnels
      parameters:
      - $ref: '#/components/parameters/pid'
      - $ref: '#/components/parameters/period'
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/to'
      - $ref: '#/components/parameters/timezone'
      - name: pages
        in: query
        schema:
          type: string
        description: JSON array of page paths (e.g. ["/","/signup","/dashboard"])
      - name: funnelId
        in: query
        schema:
          type: string
        description: Saved funnel ID
      responses:
        '200':
          description: Funnel step analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.swetrix.com
      description: Swetrix Production API
components:
  responses:
    BadRequest:
      description: Bad request - malformed body or missing required fields
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized - missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    Funnel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        pid:
          type: string
        steps:
          type: array
          items:
            type: string
    UpdateFunnelRequest:
      type: object
      required:
      - id
      - pid
      properties:
        id:
          type: string
        pid:
          type: string
        name:
          type: string
          maxLength: 50
        steps:
          type: array
          items:
            type: string
    CreateFunnelRequest:
      type: object
      required:
      - name
      - pid
      - steps
      properties:
        name:
          type: string
          maxLength: 50
        pid:
          type: string
        steps:
          type: array
          items:
            type: string
          description: Array of page paths defining funnel sequence
    FunnelResponse:
      type: object
      properties:
        steps:
          type: array
          items:
            $ref: '#/components/schemas/FunnelStep'
    FunnelStep:
      type: object
      properties:
        page:
          type: string
        count:
          type: integer
        dropoff:
          type: integer
        conversionRate:
          type: number
          format: float
  parameters:
    period:
      name: period
      in: query
      required: true
      schema:
        type: string
        enum:
        - 1h
        - today
        - yesterday
        - 1d
        - 7d
        - 4w
        - 3M
        - 12M
        - 24M
        - all
      description: Time period for the query
    from:
      name: from
      in: query
      schema:
        type: string
        format: date
      description: Custom range start date (YYYY-MM-DD)
    timezone:
      name: timezone
      in: query
      schema:
        type: string
        default: Etc/GMT
      description: IANA timezone name (default Etc/GMT)
    to:
      name: to
      in: query
      schema:
        type: string
        format: date
      description: Custom range end date (YYYY-MM-DD)
    pid:
      name: pid
      in: query
      required: true
      schema:
        type: string
      description: Project ID
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key from Swetrix account settings (https://swetrix.com/user-settings)
x-refined-from:
- swetrix-admin-api-openapi.yml
- swetrix-statistics-api-openapi.yml
